body {
    text-align: center;
}

#likeBtn, #diskLikeBtn {
    padding: 0 5%;
    font-size: 40px;
}

h1, h2{
    color: #575757;
}

#submit, #clear {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
}

.comment {
    margin-top: 3%;
}

.comment h3 {
    margin-bottom: 1.5%;
}

#commentBox {
    width: 35%;
    height: 100px;
    margin: 0 33%;
    padding: 10px;
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    display: block;
}

#submit, #clear {
    padding: 10px 20px;
    font-size: 14px;
    background-color: #656565;
    color: #fff;
}
